<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /MudletPackageServer
    RewriteCond %{REQUEST_URI} !packages/.*\.dat$
    RewriteRule ^ index.php [QSA,L]
</IfModule>