<html>
<head>
    <title>Package successfully modified.</title>
</head>
<body>
    The package was successfully created or modified. <a href="{{ path("administer") }}">Click here to return to your package overview.</a>
</body>
</html>