<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>Register confirmation</title>
</head>
<body>
{{ message }}<br />
<a href="{{ path("index") }}">Click here to return to the package listings.</a>
</body>
</html>